body{
    background-image: url("images/download.jpeg");
    background-size: 100%;
    filter: brightness(50%);
}
p{
    font-style: italic;
    text-align: center;
}
em{
    color: green;
    text-align: center;
}